<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="/css/style.css" rel="stylesheet">
    <title>〇×ゲーム</title>
</head>
<body>
    <%- include('header'); %>

    <h1 class="heading">マスをクリックしてください</h1>
    <p id="player">
        <%=players[0].name%>の番です
    </p>
    <div class="game">
        <div class="game-field">
            <% for(i=0;i<9;i++){ %>
                <div class="box blank"></div>
            <% }; %>
        </div>
    </div>
    

    <a id="reload-btn" class="inputbtn">リセット</a>

    <script type="module" src="/javascript/game.js"></script>
    <script type="module" src="/javascript/function.js"></script>
    <!-- game.jsに受け渡し -->
    <div hidden id="getPlayers">
        <p class="getPlayers"><%=players[0].name%></p>
        <p class="getPlayers"><%=players[1].name%></p>
        <p class="getPlayers"><%=players[0].color%></p>
        <p class="getPlayers"><%=players[1].color%></p>
    </div>
    


    <%- include('footer'); %>
</body>
</html>