<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="/css/style.css" rel="stylesheet">
    <title>〇×ゲーム</title>
</head>
<body>
    <%- include('header'); %>

    <h1>ユーザー一覧</h1>

    <table>
        <tr>
            <th>名前</th>
            <th>色</th>
            <th>削除</th>
        </tr>
        <% users.forEach((user) =>{ %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.color %></td>
                <td>
                    <form action="/deleteuser/<%= user.id %>" method="post">
                        <input type="submit" value="-" class="inputbtn">
                    </form>
                </td>
            </tr>
        <% }) %>
    </table>

    <a href="/user/adduser" class="inputbtn">追加</a>

    <%- include('footer'); %>
</body>
</html>